In [1]:
%load_ext sql

mypass = "mysql+mysqlconnector://admin:Oracle#123@143.47.226.231/mysql"
%sql  $mypass

%sql show databases;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
28 rows affected.

[('LogAnalytics',),
 ('LogAnomalyDB',),
 ('ML_SCHEMA_admin',),
 ('airflight',),
 ('airportdb',),
 ('center3',),
 ('custref',),
 ('employees',),
 ('healthcheck',),
 ('helloworld',),
 ('information_schema',),
 ('irisdb',),
 ('ml_data',),
 ('mydb',),
 ('mydb2',),
 ('mydemo',),
 ('mysql',),
 ('mysql_audit',),
 ('mysql_option',),
 ('mysql_rest_service_metadata',),
 ('mysql_tasks',),
 ('mytest',),
 ('najm',),
 ('performance_schema',),
 ('quickstart',),
 ('sys',),
 ('world',),
 ('xm',)]

In [2]:
%%sql
create database if not exists CreditCardAnomalyDB;
use CreditCardAnomalyDB;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.
0 rows affected.

[]

In [3]:
%%sql
CREATE TABLE if not exists credit_card_train (
    transaction_id INT AUTO_INCREMENT PRIMARY KEY,
    home_address VARCHAR(100),
    purchase_location VARCHAR(100),
    purchase_amount DECIMAL(10, 2),
    purchase_time DATETIME,
    target INT
);

truncate table credit_card_train;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql
INSERT INTO credit_card_train (home_address, purchase_location, purchase_amount, purchase_time, target)
VALUES
    ('123 Main St, City A', 'Store X, City A', 50.75, '2023-08-01 14:30:00', 0),
    ('456 Elm St, City B', 'Cafe B, City B', 15.20, '2023-08-02 09:45:00', 1),
    ('789 Oak Ave, City C', 'Online Shop', 250.00, '2023-08-03 18:10:00', 0),
    ('222 Maple Lane, City A', 'Grocery Store A', 35.50, '2023-08-04 11:00:00', NULL),
    ('555 River Rd, City D', 'Electronics Store, City D', 800.50, '2023-08-05 16:20:00', 1),
    ('1010 Mountain View, City E', 'Boutique, City E', 120.30, '2023-08-06 10:35:00', 0),
    ('333 Ocean Blvd, City F', 'Convenience Store, City F', 20.15, '2023-08-07 19:50:00', NULL),
    ('666 Sky St, City G', 'Luxury Store, City G', 1500.00, '2023-08-08 12:00:00', 1),
    ('999 Green Valley, City H', 'Hardware Store, City H', 75.90, '2023-08-09 08:40:00', 0),
    ('111 Sunset Ave, City A', 'Store X, City A', 60.40, '2023-08-10 15:10:00', NULL),
    ('2222 Country Road, City B', 'Cafe B, City B', 28.75, '2023-08-11 07:30:00', 0),
    ('3333 Lakeside, City C', 'Online Shop', 180.25, '2023-08-12 13:20:00', 1),
    ('4444 Forest Glade, City D', 'Grocery Store, City D', 45.60, '2023-08-13 09:50:00', 0),
    ('5555 Meadow Lane, City E', 'Electronics Store, City E', 300.75, '2023-08-14 17:40:00', NULL),
    ('6666 Creekside, City F', 'Boutique, City F', 95.50, '2023-08-15 11:30:00', 1),
    ('7777 Hillcrest, City G', 'Convenience Store, City G', 12.80, '2023-08-16 18:50:00', 0),
    ('8888 Riverbank, City H', 'Luxury Store, City H', 2200.00, '2023-08-17 14:10:00', NULL),
    ('9999 Sunrise Blvd, City A', 'Hardware Store, City A', 55.25, '2023-08-18 09:30:00', 0),
    ('101010 Ocean View, City B', 'Store X, City B', 70.50, '2023-08-19 16:40:00', 1),
    ('111111 Mountain Rd, City C', 'Cafe C, City C', 32.90, '2023-08-20 11:20:00', NULL),
    ('121212 Downtown, City D', 'Online Shop', 450.00, '2023-08-21 17:50:00', 0),
    ('131313 Lakeside Ave, City E', 'Grocery Store, City E', 28.50, '2023-08-22 10:10:00', 1),
    ('141414 Green Park, City F', 'Electronics Store, City F', 650.75, '2023-08-23 15:30:00', 0),
    ('151515 Skyway, City G', 'Boutique, City G', 180.40, '2023-08-24 08:50:00', NULL),
    ('161616 Meadow View, City H', 'Convenience Store, City H', 35.10, '2023-08-25 13:40:00', 0),
    ('171717 River Rd, City A', 'Luxury Store, City A', 1300.50, '2023-08-26 19:20:00', 1),
    ('181818 Sunset Blvd, City B', 'Hardware Store, City B', 85.60, '2023-08-27 12:30:00', NULL),
    ('191919 Country Lane, City C', 'Store Y, City C', 150.20, '2023-08-28 07:40:00', 0),
    ('202020 Forest Edge, City D', 'Cafe D, City D', 42.75, '2023-08-29 14:50:00', 1),
    ('212121 Lakeside View, City E', 'Online Shop', 220.50, '2023-08-30 09:20:00', 0),
    ('222222 Creekside Ave, City F', 'Grocery Store, City F', 55.90, '2023-08-31 16:10:00', NULL);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
31 rows affected.

[]

In [5]:
%%sql
CREATE TABLE if not exists credit_card_test (
    transaction_id INT AUTO_INCREMENT PRIMARY KEY,
    home_address VARCHAR(100),
    purchase_location VARCHAR(100),
    purchase_amount DECIMAL(10, 2),
    purchase_time DATETIME,
    target INT
);

truncate table credit_card_test;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql
INSERT INTO credit_card_test (home_address, purchase_location, purchase_amount, purchase_time, target)
VALUES
    ('3030 Riverbank Dr, City I', 'Grocery Store, City I', 52.30, '2023-09-01 10:30:00', 0),
    ('3131 Mountain Rd, City J', 'Electronics Store, City J', 120.50, '2023-09-02 16:45:00', 0),
    ('3232 Ocean Ave, City K', 'Boutique, City K', 85.20, '2023-09-03 11:20:00', 1),
    ('3333 Green Valley, City L', 'Convenience Store, City L', 25.60, '2023-09-04 18:50:00', 0),
    ('3434 Sunset Blvd, City I', 'Luxury Store, City I', 1600.00, '2023-09-05 14:10:00', 1),
    ('3535 Country Lane, City J', 'Hardware Store, City J', 68.40, '2023-09-06 09:30:00', 0),
    ('3636 Lakeside View, City K', 'Store Z, City K', 135.75, '2023-09-07 17:20:00', 0),
    ('3737 Forest Glade, City L', 'Cafe E, City L', 38.50, '2023-09-08 12:40:00', 1),
    ('3838 Meadow Lane, City I', 'Online Shop', 280.50, '2023-09-09 08:50:00', 0),
    ('3939 Creekside Ave, City J', 'Grocery Store, City J', 48.75, '2023-09-10 15:30:00', 0),
    ('4040 River Rd, City K', 'Electronics Store, City K', 720.25, '2023-09-11 11:10:00', 1),
    ('4141 Skyway Blvd, City L', 'Boutique, City L', 165.90, '2023-09-12 17:40:00', 0),
    ('4242 Hillcrest Rd, City I', 'Convenience Store, City I', 22.50, '2023-09-13 10:20:00', 0),
    ('4343 Riverbank View, City J', 'Luxury Store, City J', 2100.75, '2023-09-14 16:50:00', 1),
    ('4444 Country Club, City K', 'Hardware Store, City K', 92.30, '2023-09-15 12:30:00', 0),
    ('4545 Lakeside Ave, City L', 'Store Alpha, City L', 145.60, '2023-09-16 08:40:00', 0),
    ('4646 Forest Edge, City I', 'Cafe F, City I', 55.80, '2023-09-17 15:20:00', 1),
    ('4747 Creekside View, City J', 'Online Shop', 320.40, '2023-09-18 11:50:00', 0),
    ('4848 Meadow Park, City K', 'Grocery Store, City K', 62.50, '2023-09-19 18:30:00', 0),
    ('4949 River Walk, City L', 'Electronics Store, City L', 550.30, '2023-09-20 14:10:00', 1);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
20 rows affected.

[]

In [22]:
%%sql

# delete the training model for the log anomaly
delete from ML_SCHEMA_admin.MODEL_CATALOG where train_table_name = 'CreditCardAnomalyDB.credit_card_train';
select * from ML_SCHEMA_admin.MODEL_CATALOG;


SET @semi_supervised_model='anomaly_detection_semi_supervised_use_case';
CALL sys.ML_TRAIN('CreditCardAnomalyDB.credit_card_train', "target", 
                          CAST('{"task": "anomaly_detection", "experimental": {"semisupervised": {}}}' as JSON), 
                          @semi_supervised_model);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql
SELECT model_id, model_handle, train_table_name FROM ML_SCHEMA_admin.MODEL_CATALOG  
        WHERE model_handle = 'anomaly_detection_semi_supervised_use_case';

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[(9, 'anomaly_detection_semi_supervised_use_case', 'CreditCardAnomalyDB.credit_card_train')]

In [23]:
%%sql
CALL sys.ML_MODEL_LOAD(@semi_supervised_model, NULL);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [24]:
%%sql

CALL sys.ML_PREDICT_TABLE('CreditCardAnomalyDB.credit_card_test', @semi_supervised_model, 
                                  'CreditCardAnomalyDB.credit_card_predictions_semi', JSON_OBJECT('threshold', 0.55));

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [29]:
%%sql

use CreditCardAnomalyDB;
# show the result
select * from CreditCardAnomalyDB.credit_card_predictions_semi;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
20 rows affected.

[(1, '3030 Riverbank Dr, City I', 'Grocery Store, City I', Decimal('52.30'), datetime.datetime(2023, 9, 1, 10, 30), 0, '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.4642, "anomaly": 0.5358}}'),
 (2, '3131 Mountain Rd, City J', 'Electronics Store, City J', Decimal('120.50'), datetime.datetime(2023, 9, 2, 16, 45), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4185, "anomaly": 0.5815}}'),
 (3, '3232 Ocean Ave, City K', 'Boutique, City K', Decimal('85.20'), datetime.datetime(2023, 9, 3, 11, 20), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4225, "anomaly": 0.5775}}'),
 (4, '3333 Green Valley, City L', 'Convenience Store, City L', Decimal('25.60'), datetime.datetime(2023, 9, 4, 18, 50), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4263, "anomaly": 0.5737}}'),
 (5, '3434 Sunset Blvd, City I', 'Luxury Store, City I', Decimal('1600.00'), datetime.datetime(2023, 9, 5, 14, 10), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4276, "anomaly": 0.5724}}'),
 (6, '3535 Country Lane, City J', 'Hardware Store, City J', Decimal('68.40'), datetime.datetime(2023, 9, 6, 9, 30), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4285, "anomaly": 0.5715}}'),
 (7, '3636 Lakeside View, City K', 'Store Z, City K', Decimal('135.75'), datetime.datetime(2023, 9, 7, 17, 20), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4292, "anomaly": 0.5708}}'),
 (8, '3737 Forest Glade, City L', 'Cafe E, City L', Decimal('38.50'), datetime.datetime(2023, 9, 8, 12, 40), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4295, "anomaly": 0.5705}}'),
 (9, '3838 Meadow Lane, City I', 'Online Shop', Decimal('280.50'), datetime.datetime(2023, 9, 9, 8, 50), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4297, "anomaly": 0.5703}}'),
 (10, '3939 Creekside Ave, City J', 'Grocery Store, City J', Decimal('48.75'), datetime.datetime(2023, 9, 10, 15, 30), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4298, "anomaly": 0.5702}}'),
 (11, '4040 River Rd, City K', 'Electronics Store, City K', Decimal('720.25'), datetime.datetime(2023, 9, 11, 11, 10), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.4299, "anomaly": 0.5701}}'),
 (12, '4141 Skyway Blvd, City L', 'Boutique, City L', Decimal('165.90'), datetime.datetime(2023, 9, 12, 17, 40), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (13, '4242 Hillcrest Rd, City I', 'Convenience Store, City I', Decimal('22.50'), datetime.datetime(2023, 9, 13, 10, 20), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (14, '4343 Riverbank View, City J', 'Luxury Store, City J', Decimal('2100.75'), datetime.datetime(2023, 9, 14, 16, 50), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (15, '4444 Country Club, City K', 'Hardware Store, City K', Decimal('92.30'), datetime.datetime(2023, 9, 15, 12, 30), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (16, '4545 Lakeside Ave, City L', 'Store Alpha, City L', Decimal('145.60'), datetime.datetime(2023, 9, 16, 8, 40), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (17, '4646 Forest Edge, City I', 'Cafe F, City I', Decimal('55.80'), datetime.datetime(2023, 9, 17, 15, 20), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (18, '4747 Creekside View, City J', 'Online Shop', Decimal('320.40'), datetime.datetime(2023, 9, 18, 11, 50), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (19, '4848 Meadow Park, City K', 'Grocery Store, City K', Decimal('62.50'), datetime.datetime(2023, 9, 19, 18, 30), 0, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}'),
 (20, '4949 River Walk, City L', 'Electronics Store, City L', Decimal('550.30'), datetime.datetime(2023, 9, 20, 14, 10), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.43, "anomaly": 0.57}}')]