In [1]:
%load_ext sql

mypass = "mysql+mysqlconnector://admin:Oracle#123@143.47.226.231/mysql"
%sql  $mypass

%sql show databases;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
29 rows affected.

[('CreditCardAnomalyDB',),
 ('LogAnalytics',),
 ('LogAnomalyDB',),
 ('ML_SCHEMA_admin',),
 ('airflight',),
 ('airportdb',),
 ('center3',),
 ('custref',),
 ('employees',),
 ('healthcheck',),
 ('helloworld',),
 ('information_schema',),
 ('irisdb',),
 ('ml_data',),
 ('mydb',),
 ('mydb2',),
 ('mydemo',),
 ('mysql',),
 ('mysql_audit',),
 ('mysql_option',),
 ('mysql_rest_service_metadata',),
 ('mysql_tasks',),
 ('mytest',),
 ('najm',),
 ('performance_schema',),
 ('quickstart',),
 ('sys',),
 ('world',),
 ('xm',)]

In [96]:
%%sql
create database if not exists LogAnomalyDB;
use LogAnomalyDB;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.
0 rows affected.

[]

In [47]:
%%sql
select data, logged, error_code from performance_schema.error_log where error_code not in ("MY-010914") order by logged desc  limit 10;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
10 rows affected.

[('[QKRN] HeatWave Requesting Hypergraph Simplification for MY engine myid=13101865: Stage 1: SG pairs: 350, #plans: 1420, #plans current stage: 1420 :: requested SG pairs: 350, allowed time triggered by: system at 1.8 ms', datetime.datetime(2025, 11, 11, 14, 10, 45, 961836), 'MY-011071'),
 ('Persisted RestorePoint at scn: 1396690', datetime.datetime(2025, 11, 11, 14, 10, 3, 496064), 'MY-011071'),
 ('TP conn (init: in, queue, auth, err, ok. port: managed(delta), active, opened, closed, added, dropped): Init: 72, 0, 6, 72, 0. Usr: 5(+0), 2, 0, 0, 0, 0. Adm: 4(+0), 2, 0, 0, 0, 0.', datetime.datetime(2025, 11, 11, 14, 9, 51, 8794), 'MY-015507'),
 ('[QKRN] HeatWave Requesting Hypergraph Simplification for MY engine myid=13101313: Stage 1: SG pairs: 359, #plans: 1450, #plans current stage: 1450 :: requested SG pairs: 359, allowed time triggered by: system at 1.8 ms', datetime.datetime(2025, 11, 11, 14, 9, 45, 959835), 'MY-011071'),
 ('Persisted RestorePoint at scn: 1396666', datetime.datetime(2025, 11, 11, 14, 9, 3, 353935), 'MY-011071'),
 ('[QKRN] HeatWave Requesting Hypergraph Simplification for MY engine myid=13100762: Stage 1: SG pairs: 320, #plans: 1320, #plans current stage: 1320 :: requested SG pairs: 320, allowed time triggered by: system at 1.8 ms', datetime.datetime(2025, 11, 11, 14, 8, 45, 958828), 'MY-011071'),
 ('Persisted RestorePoint at scn: 1396642', datetime.datetime(2025, 11, 11, 14, 8, 3, 281616), 'MY-011071'),
 ('TP conn (init: in, queue, auth, err, ok. port: managed(delta), active, opened, closed, added, dropped): Init: 72, 0, 6, 72, 0. Usr: 5(+0), 2, 0, 0, 0, 0. Adm: 4(+0), 3, 0, 0, 0, 0.', datetime.datetime(2025, 11, 11, 14, 7, 50, 998918), 'MY-015507'),
 ('[QKRN] HeatWave Requesting Hypergraph Simplification for MY engine myid=13100217: Stage 1: SG pairs: 431, #plans: 1750, #plans current stage: 1750 :: requested SG pairs: 431, allowed time triggered by: system at 1.8 ms', datetime.datetime(2025, 11, 11, 14, 7, 45, 957838), 'MY-011071'),
 ('Persisted RestorePoint at scn: 1396618', datetime.datetime(2025, 11, 11, 14, 7, 4, 342206), 'MY-011071')]

In [48]:
%%sql
use LogAnomalyDB;

CREATE TABLE if not exists training_data (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    log_message TEXT,
    timestamp DATETIME,
    target TINYINT
);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.

[]

In [32]:
%%sql
use LogAnomalyDB;

CREATE TABLE if not exists training_data (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    log_message TEXT,
    timestamp DATETIME,
    target TINYINT
);

truncate table training_data;

CREATE TABLE if not exists testing_data (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    log_message TEXT,
    timestamp DATETIME,
    target TINYINT
);

truncate table testing_data;



INSERT INTO training_data (log_message, timestamp, target) VALUES
    ("User login successful: admin", "2023-08-07 09:00:00", 0),
    ("Database connection established", "2023-08-07 09:05:23", 0),
    ("Failed login attempt from IP: 192.168.1.20", "2023-08-07 09:12:15", 1),
    ("Server load is high: 85%", "2023-08-07 09:20:30", 1),
    ("Aborted connection 654465 to db: 'unconnected' user: 'unauthenticated' host: 'nlb-2025-0331-1249.publicloadbalan.vcnivanmalondon.oraclevcn.com' (Got an error reading communication packets)", "2025-11-11 10:40:19.325877", 0),
    ("TP conn (init: in, queue, auth, err, ok. port: managed(delta), active, opened, closed, added, dropped): Init: 72, 0, 6, 72, 0. Usr: 9(+0), 3, 0, 0, 0, 0. Adm: 4(+0), 3, 0, 0, 0, 0.", "2025-11-11 10:41:50.478543", 0),
    ("Persisted RestorePoint at scn: 1391531", "2025-11-11 10:39:41.933180", 0),
    ("[QKRN] HeatWave Requesting Hypergraph Simplification for MY engine myid=12920996: Stage 1: SG pairs: 532, #plans: 2160, #plans current stage: 2160 :: requested SG pairs: 532, allowed time triggered by: system at 1.8 ms", "2025-11-11 10:39:45.632354", 0), 
    ("Skip STALE table douyu.media from RestorePoint persistence", "2025-02-12 16:31:23.43544", 1),
    ("[TRUNCATE POST-HOOK] Table `xdb`.`temp_query_lookup_table` found in Global State, marking it as stale.", "2025-02-12 17:28:46.588884", 1),
    ("Received EOQ from node #0. Query qid=77697, status OOM", "2025-02-12 16:15:55.359746", 1),
    ("User logout: Jane", "2023-08-07 18:10:00", 0);



INSERT INTO testing_data (log_message, timestamp, target) VALUES
    ("User login failed: Invalid credentials", "2023-08-08 10:30:00", 1),
    ("Unusual network traffic from IP: 10.0.0.5", "2023-08-08 12:45:30", 1);

select * from testing_data;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
12 rows affected.
2 rows affected.
2 rows affected.

[(1, 'User login failed: Invalid credentials', datetime.datetime(2023, 8, 8, 10, 30), 1),
 (2, 'Unusual network traffic from IP: 10.0.0.5', datetime.datetime(2023, 8, 8, 12, 45, 30), 1)]

In [107]:


%%sql  # delete the training model for the log anomaly
delete from ML_SCHEMA_admin.MODEL_CATALOG where train_table_name = 'LogAnomalyDB.training_data';
select * from ML_SCHEMA_admin.MODEL_CATALOG;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
3 rows affected.
2 rows affected.

[(2, 'iris_model', 'ExtraTreesClassifier', 'classification', None, 'admin', 1762855194, 'class', 'irisdb.iris_train', '["sepal length", "sepal width", "petal length", "petal width"]', '{"permutation_importance": {"petal width": 0.2301, "sepal width": 0.0056, "petal length": 0.2192, "sepal length": 0.0056}}', None, 404185, None, '{"task": "classification", "notes": null, "chunks": 1, "format": "HWMLv2.0", "n_rows": 120, "status": "Ready", "options": {"task": "classification",  ... (1102 characters truncated) ... elected_column_names": ["petal length", "petal width", "sepal length", "sepal width"], "training_drift_metric": {"mean": 0.2779, "variance": 0.1398}}'),
 (9, 'anomaly_detection_semi_supervised_use_case', 'GKNN', 'anomaly_detection', None, 'admin', 1762875422, 'target', 'CreditCardAnomalyDB.credit_card_train', '["transaction_id", "home_address", "purchase_location", "purchase_amount", "purchase_time"]', '{}', None, 22739, None, '{"task": "anomaly_detection", "notes": null, "chunks": 1, "format": "HWMLv2.0", "n_rows": 31, "status": "Ready", "options": {"task": "anomaly_detecti ... (1279 characters truncated) ...  null, "selected_column_names": ["purchase_amount", "purchase_time", "transaction_id"], "training_drift_metric": {"mean": 0.177, "variance": 0.0231}}')]

In [76]:
"""
Unsupervised Anomaly Detection
 When running an unsupervised anomaly detection model, 
 the machine learning algorithm requires no labeled data. 
 When training the model, the target_column_name parameter must be set to NULL.
"""
%sql CALL sys.ML_TRAIN('LogAnomalyDB.training_data',  NULL, JSON_OBJECT('task', 'log_anomaly_detection', 'exclude_column_list', JSON_ARRAY('log_id', 'timestamp', 'target')), @unsupervised_log_model);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [77]:
%sql CALL sys.ML_MODEL_LOAD(@unsupervised_log_model, NULL);
%sql select @unsupervised_log_model;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[('LogAnomalyDB.training_data_admin_1762870841657',)]

In [78]:
%%sql 
CALL sys.ML_SCORE('LogAnomalyDB.testing_data', 'target', @unsupervised_log_model, 'f1', @anomaly_log_score, NULL);
select @anomaly_log_score;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
1 rows affected.

[(0.0,)]

In [80]:
%sql drop table if exists LogAnomalyDB.log_predictions_unsupervised;
%sql CALL sys.ML_PREDICT_TABLE('LogAnomalyDB.testing_data', @unsupervised_log_model, 'LogAnomalyDB.log_predictions_unsupervised',JSON_OBJECT('logad_options',JSON_OBJECT('summarize_logs', TRUE)));

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [81]:
%sql select * from LogAnomalyDB.log_predictions_unsupervised;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[(1, 'User login failed: Invalid credentials Unusual network traffic from IP: 10.0.0.5', '{"index_map": [1, 2], "predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.1348, "anomaly": 0.8652}}')]

In [109]:

%%sql
# 9.5.0 keyword_model

CALL sys.ML_TRAIN('LogAnomalyDB.training_data', NULL, 
                          JSON_OBJECT('task', 'log_anomaly_detection', 
                                      'exclude_column_list', JSON_ARRAY('log_id', 'timestamp', 'target'),
                                      'logad_options', 
                                      JSON_OBJECT('embedding_model', 'all_minilm_l12_v2', 'keyword_model', 'tf-idf')), @unsupervised_log_model);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [110]:
%%sql

SELECT model_handle, model_type FROM ML_SCHEMA_admin.MODEL_CATALOG WHERE model_handle=@unsupervised_log_model;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[('LogAnomalyDB.training_data_admin_1762879752602', 'GKNN')]

In [112]:
%%sql
# drop the result table first
# and load the model
 drop table if exists LogAnomalyDB.log_predictions_unsupervised;
 CALL sys.ML_MODEL_LOAD(@unsupervised_log_model, NULL);
 CALL sys.ML_PREDICT_TABLE('LogAnomalyDB.testing_data', @unsupervised_log_model, 'LogAnomalyDB.log_predictions_unsupervised', 
                                  JSON_OBJECT('logad_options', JSON_OBJECT('summarize_logs', TRUE)));

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [113]:
%%sql
# show the prediction result

SELECT * from LogAnomalyDB.log_predictions_unsupervised;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[(1, 'User login failed: Invalid credentials Unusual network traffic from IP: 10.0.0.5', 'User login failed: Invalid credentials Unusual network traffic from IP: 10.0.0.5', '{"summary": "The user\'s login attempt was unsuccessful due to invalid credentials, and an unusual network traffic signal was detected coming from the IP address 10.0.0.5.", "index_map": [1, 2], "predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.0, "anomaly": 1.0}}')]

In [117]:
%%sql
# The following example enables semi-supervised learning with additional options.

CALL sys.ML_TRAIN('LogAnomalyDB.training_data', "target", 
                          CAST('{"task": "anomaly_detection", 
                                 "exclude_column_list": ["log_id", "timestamp"],
                                 "experimental": {"semisupervised": {"supervised_submodel_options": {"min_labels": 10, "n_neighbors": 3}, 
                                 "ensemble_score": "recall"}}}' as JSON), @semisupervised_model_options);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [118]:
%%sql

SELECT model_handle, model_type FROM ML_SCHEMA_admin.MODEL_CATALOG WHERE model_handle=@semisupervised_model_options;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
1 rows affected.

[('LogAnomalyDB.training_data_admin_1762880121183', 'GKNN')]

In [119]:
%%sql
 CALL sys.ML_MODEL_LOAD(@semisupervised_model_options, NULL);

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.

[]

In [128]:
%%sql

 drop table if exists LogAnomalyDB.log_predictions_supervised;

 CALL sys.ML_PREDICT_TABLE('LogAnomalyDB.testing_data', @semisupervised_model_options, 'LogAnomalyDB.log_predictions_supervised', 
                                 JSON_OBJECT('threshold', 0.55));

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
0 rows affected.
0 rows affected.

[]

In [129]:
%%sql

select * from LogAnomalyDB.log_predictions_supervised;

 * mysql+mysqlconnector://admin:***@143.47.226.231/mysql
2 rows affected.

[(1, 'User login failed: Invalid credentials', datetime.datetime(2023, 8, 8, 10, 30), 1, '{"predictions": {"is_anomaly": 1}, "probabilities": {"normal": 0.2301, "anomaly": 0.7699}}'),
 (2, 'Unusual network traffic from IP: 10.0.0.5', datetime.datetime(2023, 8, 8, 12, 45, 30), 1, '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 1.0, "anomaly": 0.0}}')]