In [2]:
%load_ext sql

In [32]:
mypass = "mysql+mysqlconnector://user:x@1.1.1.1/sysmax"
%sql  $mypass

In [33]:
x = %sql show databases;
display.display(x)
x = %sql use sysmax;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
34 rows affected.

[('3_API_Python_admin',),
 ('4_API_Vector_Store_admin',),
 ('CreditCardAnomalyDB',),
 ('LogAnalytics',),
 ('LogAnomalyDB',),
 ('ML_SCHEMA_admin',),
 ('airflight',),
 ('airportdb',),
 ('center3',),
 ('custref',),
 ('employees',),
 ('financedb',),
 ('healthcheck',),
 ('helloworld',),
 ('information_schema',),
 ('irisdb',),
 ('ml_data',),
 ('mydb',),
 ('mydb2',),
 ('mydemo',),
 ('mysql',),
 ('mysql_audit',),
 ('mysql_option',),
 ('mysql_rest_service_metadata',),
 ('mysql_tasks',),
 ('mytest',),
 ('najm',),
 ('performance_schema',),
 ('quickstart',),
 ('sys',),
 ('sysmax',),
 ('topic_modeling_data',),
 ('world',),
 ('xm',)]

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.

In [34]:
%%sql
use sysmax;
show tables;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.
2 rows affected.

[('mytable',), ('mytable2',)]

In [35]:
%%sql
show create table sysmax.mytable2;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
1 rows affected.

[('mytable2', 'CREATE TABLE `mytable2` (\n  `my_row_id` bigint NOT NULL AUTO_INCREMENT /*!80023 INVISIBLE */,\n  `company_name` varchar(30) NOT NULL,\n  `industry_d ... (1056 characters truncated) ... T NULL,\n  PRIMARY KEY (`my_row_id`)\n) ENGINE=InnoDB AUTO_INCREMENT=393211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci SECONDARY_ENGINE=RAPID')]

In [38]:
x = %sql select count(*) from mytable2 ;
display.display(x)
x = %sql drop table if exists mytrain;
x = %sql create table mytrain like mytable2;
x = %sql insert into mytrain select * from mytable2 limit 100;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
1 rows affected.

[(345574,)]

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.
   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.
   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
100 rows affected.

In [39]:
from IPython import display
import pandas as pd

# sample data
rs = %sql select * from mytrain limit 10;
df1 = pd.DataFrame(rs)
display.display(df1)

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
10 rows affected.

,company_name,industry_description,annual_average_employees,total_hours_worked,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,...,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,"Vivos Therapeutics, Inc.",DDSs' (doctors of dental surge,175,68331,1,0,1,0,0,3,...,0,0,0,0,797780,1,2,2022,1/1/2023,\r
1,"VSI Providers, PLLC",DDSs' (doctors of dental surge,4,5928,2,0,0,0,0,0,...,0,0,0,0,797800,1,1,2022,1/1/2023,\r
2,GRANITE PEAK CORP,Alpine skiing facilities witho,140,138173,1,0,3,0,9,20,...,0,0,0,0,914144,1,3,2022,1/1/2023,\r
3,"Dragon Industrial Wrap, LLC",Tank lining contractors,11,22880,2,0,0,0,0,0,...,0,0,0,0,914157,1,1,2022,1/1/2023,\r
4,Kristi's test company 2/24/21,Antique auto dealers,12000,12000,1,1,1,1,1,1,...,0,1,1,0,693829,1,2,2022,1/1/2023,\r
5,Cobb South 298,"Furniture moving, used",20,30800,2,0,0,0,0,0,...,0,0,0,0,155645,1,2,2022,1/1/2023,\r
6,Diamond S Mobile Welding LLC,Welding,1,2400,2,0,0,0,0,0,...,0,0,0,0,905945,1,1,2022,1/1/2023,\r
7,T&J Industries Development and,utility contractors,1260,91200,2,0,0,0,0,0,...,0,0,0,0,812418,1,2,2022,1/1/2023,\r
8,Divine Power LLC,Power Line,30,76000,2,0,0,0,0,0,...,0,0,0,0,913636,1,2,2022,1/1/2023,\r
9,Vac2Go,Vacuum Truck Rental & Service,4,8320,2,0,0,0,0,0,...,0,0,0,0,914148,1,1,2022,1/1/2023,\r

In [59]:
%%sql
set @modelid = 'sysmax.model02';

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.

[]

In [ ]:
%%sql
call sys.ML_TRAIN("sysmax.mytable2", null, JSON_OBJECT('task', 'anomaly_detection', 'contamination', 0.01, 
                                                      'exclude_column_list', JSON_ARRAY('my_row_id')), @modelid);

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax

In [48]:
%%sql
SELECT JSON_EXTRACT(model_metadata, '$.contamination') 
          FROM ML_SCHEMA_admin.MODEL_CATALOG 
          WHERE model_handle = @modelid;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
1 rows affected.

[('0.009999999776482582',)]

In [49]:
%%sql
create table mytest like mytable2;
insert into mytest select mytable2.* from mytable2 left join mytrain on (mytable2.my_row_id = mytrain.my_row_id) where mytrain.my_row_id is null limit 10;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.
10 rows affected.

[]

In [50]:
%%sql
select * from mytest;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
10 rows affected.

[('new test items 7', 'Building Material & Supplies D', '21', '40579', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914224', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 8', 'Building Material & Supplies D', '53', '55938', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914225', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 9', 'Building Material & Supplies D', '127', '184611', '1', '0', '0', '5', '0', '0', '170', '5', '0', '0', '0', '0', '0', '914226', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 10', 'Building Material & Supplies D', '22', '28204', '1', '0', '0', '1', '0', '0', '2', '1', '0', '0', '0', '0', '0', '914227', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 1', 'Building Material & Supplies D', '79', '111404', '1', '0', '0', '4', '0', '0', '92', '4', '0', '0', '0', '0', '0', '914228', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 3', 'Building Material & Supplies D', '248', '324611', '1', '0', '2', '11', '0', '276', '446', '13', '0', '0', '0', '0', '0', '914230', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 4', 'Building Material & Supplies D', '29', '42970', '1', '0', '0', '4', '0', '0', '25', '4', '0', '0', '0', '0', '0', '914231', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 5', 'Building Material & Supplies D', '44', '72080', '1', '0', '0', '3', '0', '0', '45', '3', '0', '0', '0', '0', '0', '914232', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 6', 'Building Material & Supplies D', '66', '105239', '1', '0', '0', '2', '0', '0', '50', '2', '0', '0', '0', '0', '0', '914233', '1', '2', '2022', '1/1/2023', '\r'),
 ('new test items 7', 'Building Material & Supplies D', '21', '40579', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914234', '1', '2', '2022', '1/1/2023', '\r')]

In [57]:
%%sql
call sys.ML_MODEL_LOAD(@modelid, null);
call sys.ML_PREDICT_TABLE('sysmax.mytest', @modelid, 'sysmax.myprediction', JSON_OBJECT('threshold', 0.6));

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
0 rows affected.
0 rows affected.

[]

In [54]:
%%sql
alter table sysmax.mytest modify my_row_id bigint not null ;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
10 rows affected.

[]

In [58]:
%%sql
select * from sysmax.myprediction;

   mysql+mysqlconnector://admin:***@143.47.226.231/financedb
 * mysql+mysqlconnector://admin:***@143.47.226.231/sysmax
10 rows affected.

[(1, 'new test items 7', 'Building Material & Supplies D', '21', '40579', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914224', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 1.0, "anomaly": 0.0}}'),
 (2, 'new test items 8', 'Building Material & Supplies D', '53', '55938', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914225', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 1.0, "anomaly": 0.0}}'),
 (3, 'new test items 9', 'Building Material & Supplies D', '127', '184611', '1', '0', '0', '5', '0', '0', '170', '5', '0', '0', '0', '0', '0', '914226', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.7173, "anomaly": 0.2827}}'),
 (4, 'new test items 10', 'Building Material & Supplies D', '22', '28204', '1', '0', '0', '1', '0', '0', '2', '1', '0', '0', '0', '0', '0', '914227', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.8368, "anomaly": 0.1632}}'),
 (5, 'new test items 1', 'Building Material & Supplies D', '79', '111404', '1', '0', '0', '4', '0', '0', '92', '4', '0', '0', '0', '0', '0', '914228', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.9051, "anomaly": 0.0949}}'),
 (6, 'new test items 3', 'Building Material & Supplies D', '248', '324611', '1', '0', '2', '11', '0', '276', '446', '13', '0', '0', '0', '0', '0', '914230', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.8212, "anomaly": 0.1788}}'),
 (7, 'new test items 4', 'Building Material & Supplies D', '29', '42970', '1', '0', '0', '4', '0', '0', '25', '4', '0', '0', '0', '0', '0', '914231', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.9051, "anomaly": 0.0949}}'),
 (8, 'new test items 5', 'Building Material & Supplies D', '44', '72080', '1', '0', '0', '3', '0', '0', '45', '3', '0', '0', '0', '0', '0', '914232', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.8615, "anomaly": 0.1385}}'),
 (9, 'new test items 6', 'Building Material & Supplies D', '66', '105239', '1', '0', '0', '2', '0', '0', '50', '2', '0', '0', '0', '0', '0', '914233', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 0.8615, "anomaly": 0.1385}}'),
 (10, 'new test items 7', 'Building Material & Supplies D', '21', '40579', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '914234', '1', '2', '2022', '1/1/2023', '\r', '{"predictions": {"is_anomaly": 0}, "probabilities": {"normal": 1.0, "anomaly": 0.0}}')]